<div style="background-color:rgb(10, 104, 104)">
    <mat-grid-list cols="4" rowHeight="400px">
        <mat-grid-tile [colspan]="1">
    
            <div style="color:white">
                Fan
                <br>
                LED & Lighting
                <br>
                Cables & Wires
                <br><br>
                Switches & Automation <br><br>
                Protection Devices <br>
                Switchgears <br>
                Appliances <br>
                Weatherproof Devices <br>
                Consumables <br>
                Tools & Elec Hardware <br>
                Meter
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3">
            <div>
    
                <a href="#" class="link">Celling Fans</a> | <a href="#" class="link">Luxury Fans</a> | <a href="#"
                    class="link">Wall Fans</a> | <a href="#" class="link">Table Fans & Personal Fans</a>
                | <a href="#" class="link">Exhaust Fans</a> | <a href="#" class="link">Pedestal Fans</a> | <a href="#"
                    class="link">Tower Fans</a>
                <br>
                <a href="#" class="link">LED Lights</a> | <a href="#" class="link">CFLs</a> | <a href="#"
                    class="link">Domestic Tube Fitting</a> | <a href="#" class="link">Flood Lights</a>
                | <a href="#" class="link">Ballasts & Igniters</a> | <a href="#" class="link">Decorative Lights</a> | <a
                    href="#" class="link">Lamps</a> | <a href="#" class="link">Desk Lights</a>
                | <a href="#" class="link">Street Lights</a>
                <br>
                <a href="#" class="link">House Wires(1mm-6mm)</a> | <a href="#" class="link">Flexible Wires</a> | <a
                    href="#" class="link">Multicore Cables And Wires</a> | <a href="#" class="link">Coaxial Cables</a>
                | <a href="#" class="link">Networking Cables & Accessries</a> | <a href="#" class="link">Fiber Glass
                    Cables</a> | <a href="#" class="link">Telephone Cables & Accessories</a> | <a href="#"
                    class="link">Camera Wires</a>
                | <a href="#" class="link">Armoured Cables</a> | <a href="#" class="link">Solar DC Wires</a> | <a href="#"
                    class="link">Shield Wires</a>
                <br>
                <a href="#" class="link">Modular Switches</a> | <a href="#" class="link">Modular Sockets</a> | <a href="#"
                    class="link">Fan Regulators & Dimmers</a> | <a href="#" class="link">RJ11, RJ45 & TV Sockets</a>
                | <a href="#" class="link">Indicators & Buzzers</a> | <a href="#" class="link">Plates & Boxes</a> | <a
                    href="#" class="link">USB, HDMI, RC, VGA Sockets</a> | <a href="#" class="link">Modular Protection</a>
                | <a href="#" class="link">Automation</a> | <a href="#" class="link">For Hospitality</a> | <a href="#"
                    class="link">Pop Up Boxes</a>
                <br>
                <a href="#" class="link">MCBs</a> | <a href="#" class="link">ELCB Or RCCB</a> | <a href="#"
                    class="link">RCBOs</a> | <a href="#" class="link">MCCBs</a>
                | <a href="#" class="link">Isolators</a> | <a href="#" class="link">MCB Changeovers</a> | <a href="#"
                    class="link">Distribution Boards</a>
                <br>
                <a href="#" class="link">Control Gears</a> | <a href="#" class="link">Capacitors</a> | <a href="#"
                    class="link">Industrial Plugs And Sockets</a> | <a href="#" class="link">Flexible Conduits</a>
                <br>
                <a href="#" class="link">Air Cooler</a> | <a href="#" class="link">Irons</a> | <a href="#"
                    class="link">Cooking</a> | <a href="#" class="link">Geysers</a>
                | <a href="#" class="link">Room Heater</a> | <a href="#" class="link">Food Preparation</a> | <a href="#"
                    class="link">Brewing</a> | <a href="#" class="link">Domestic Motors & Pumps</a>
                | <a href="#" class="link">Chimney/Hoods</a> | <a href="#" class="link">UPS, Invertors & Stabilizers</a>
                <br>
                <a href="#" class="link">MCB Enclosure</a> | <a href="#" class="link">Junction Boxes</a> | <a href="#"
                    class="link">Cooking</a> | <a href="#" class="link">Geysers</a>
                | <a href="#" class="link">Room Heater</a> | <a href="#" class="link">Food Preparation</a> | <a href="#"
                    class="link">Brewing</a> | <a href="#" class="link">Domestic Motors & Pumps</a>
                | <a href="#" class="link">Chimney/Hoods</a> | <a href="#" class="link">UPS, Invertors & Stabilizers</a>
    
    </div>
        </mat-grid-tile>
    </mat-grid-list>
    </div>
    
    
    <div style="width: 100%;">
        <mat-grid-list cols="5" rowHeight="200" >
            <mat-grid-tile
                [colspan] = "1"
                [rowspan] = "2">
                <div >
                    <h3 ><b>INFORMATION</b></h3>
                    <p><a href="#" style="color: black;">Sitemap</a></p>
                    <p><a href="#" style="color: black;">Press Release</a></p>
                    <p><a href="#" style="color: black;">Blog</a></p>
                    <p><a href="#" style="color: black;">About Us </a></p>
                    <p><a href="#" style="color: black;">Terms & Conditions</a></p>
                    <p><a href="#" style="color: black;"> Careers</a></p>
                </div>
            </mat-grid-tile>
    
            <mat-grid-tile
            [colspan] = "1"
                [rowspan] = "2">
                <div>
                    <h3><b>MY ACCOUNT</b></h3>
                    <p><a href="#" style="color: black;">My Account</a></p>
                    <p><a href="#" style="color: black;">Orders</a></p>
                    <p><a href="#" style="color: black;">Adress</a></p>
                    <p><a href="#" style="color: black;">Privacy Policy </a></p>
                    <p><a href="#" style="color: black;">Cancellation & Return Policy</a></p>
                    <p><a href="#" style="color: black;">Shipping & Delivery </a></p>
                    <p><a href="#" style="color: black;">Refund policy</a></p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile
            [colspan] = "1"
                [rowspan] = "2">
                <div>
                    <h3><b>CUSTOMER SERVICE</b></h3>
                    <p><a href="#" style="color: black;">FAQs</a></p>
                    <p><a href="#" style="color: black;">Contacts</a></p><br>
                    <p><b>PAYMENT OPTION</b></p>
                    <p>
                    <img style="width:30px;height:30px" src="../../assets/images/visa.png"matTooltip="visa">
                    <img style="width:30px;height:30px" src="../../assets/images/master.png" matTooltip="master">
                    <img style="width:30px;height:30px" src="../../assets/images/rupay.png" matTooltip="RuPay">
                    <img style="width:30px;height:30px" src="../../assets/images/netbanking.png" matTooltip="Netbanking">
                    <img style="width:30px;height:30px" src="../../assets/images/paytm.png" matTooltip="visa">
                    <img style="width:30px;height:30px" src="../../assets/images/mobikwik.jpg" matTooltip="Mobikwik">
                    <img style="width:30px;height:30px" src="../../assets/images/freecharge.jpg" matTooltip="Freecharge">
                    <img style="width:30px;height:30px" src="../../assets/images/jiomoney.jpg" matTooltip="Jio Money">
                    </p><br>
                    <p><b>LOGISTICS PARTNERS</b></p>
                    <p>
                    <img style="width:70px;height:40px" src="../../assets/images/fedex.png">
                    <img style="width:70px;height:40px" src="../../assets/images/delivery.jpg">
                    <img style="width:60px;height:50px" src="../../assets/images/dtdc.png">
                    <img style="width:80px;height:50px" src="../../assets/images/professional.png">
                    
                    </p>
                </div>
            </mat-grid-tile>
            
            <mat-grid-tile
                [colspan] = "1"
                [rowspan] = "1">
                <div >
                    <h3 style="margin-left: 50px;"><b>FOLLOW US</b></h3>
                 <p >
                    <button mat-button><img style="width:30px;height:30px" src="../../assets/images/twitter.png"></button>
                    <button mat-button><mat-icon>facebook</mat-icon></button>
                    <button mat-button><mat-icon>rss_feed</mat-icon></button>
                  </p>
                   </div>
            </mat-grid-tile>
            
            <mat-grid-tile
                [colspan] = "1"
                [rowspan] = "2">
                <div>
                    <h3><b>NEWSLETTER</b></h3>
                    <p><input style="height: 25px;" type="text" placeholder="Enter your email here">
                        <span ><button mat-button style="background-color:rgb(255, 94, 0);width:30px;height:33px">
                        <mat-icon style="height:30px;color:white">search</mat-icon>
                      </button></span></p><br>
                    <p><mat-icon style="color: rgb(228, 70, 97);">room</mat-icon>
                        <a style="color: black;" href="">S-19,Janta Market,Rajouri Garden,<br>New Delhi-110027</a></p>
                    <p><mat-icon style="color:rgb(228, 70, 97) ;"> email</mat-icon>
                    <a style="color: black;" href="">Sales @ bestofelectricals.com</a></p>
                    <p><mat-icon style="color:rgb(228, 70, 97);">stay_primary_portrait</mat-icon>
                        <a style="color: black;" href="">+918800699159</a></p>
                    
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    
    
    
    <div style="width: 100%;">
    <mat-grid-list cols="2" row height="200px">
       
    <div style="background-color:rgb(10, 104, 104);text-align: center;color: white;height:120px;">
    <p>Powered by nopCommerce &nbsp;&nbsp;Copyright © 2020 BestofElectricals. All rights reserved.</p>
    <p><img style="width:150px;height:50px" src="../../assets/images/positivessl.png"></p>


    <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
        <p style="text-align: right;">
       <button mat-button style="color: white;background-color:rgb(17, 85, 85);" type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()"> 
        <mat-icon>keyboard_arrow_up</mat-icon></button> 
       </p> 
       </div>

    </div>
    

    

    
    </mat-grid-list>
    </div>