<!-- <mat-grid-list cols="3" rowHeight="100px" >
  <mat-toolbar style="background-color: rgb(31, 187, 207);height:100px">
  
    <mat-grid-tile><img src="../../assets/images/logo.png"></mat-grid-tile>
    <mat-grid-tile><input type="text" style="width:500px;height:30px" placeholder="Search for Products,brands and more">
      <span><button mat-button style="background-color:rgb(255, 94, 0)">
          <mat-icon style="height:25px;color:white">search</mat-icon>
        </button></span></mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="OpenDialog()"><mat-icon style="margin-top:5px">
          perm_identity
    </mat-icon>
        <div>My account</div>
      </button>
      <button mat-button>
        <mat-icon style="margin-top:5px">favorite_border</mat-icon>
        <div>Wishlist</div>
      </button>
      <button mat-button (click)="CartDialog()" routerLink="/cart"><mat-icon style="margin-top:5px">shopping_cart</mat-icon><div>Rs. </div></button>
    </mat-grid-tile> 
  
  </mat-toolbar> 
</mat-grid-list>
<mat-grid-list cols="1" rowHeight="70px">
<mat-toolbar>
    <div style="width:100%;background-color:rgb(243, 236, 236);height:55px">
      <button mat-button id="categories" [matMenuTriggerFor]="categ" style="height:55px;margin-left:50px"><mat-icon>library_books</mat-icon> ALL CATEGORIES</button>
      <mat-menu #categ="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="led">LED & Lighting</button>
        <button mat-menu-item [matMenuTriggerFor]="fans">Fans</button>
        <button mat-menu-item [matMenuTriggerFor]="cables">Cables & Wires</button>
        <button mat-menu-item [matMenuTriggerFor]="switch">Switches & Automation</button>
        <button mat-menu-item [matMenuTriggerFor]="pd">Protection Devices</button>
        <button mat-menu-item [matMenuTriggerFor]="con">Consumables</button>
        <button mat-menu-item [matMenuTriggerFor]="app">Appliances</button>
        <button mat-menu-item [matMenuTriggerFor]="gear">Switchgears</button>
        <button mat-menu-item [matMenuTriggerFor]="tools">Tools & Elec Hardware</button>
        <button mat-menu-item [matMenuTriggerFor]="meters">Meters</button>
        <button mat-menu-item [matMenuTriggerFor]="wd">Weatherproof Devices</button> 
      
      
      </mat-menu>
      <mat-menu #led="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="ledlight">LED lights</button>
        <button mat-menu-item>CFLs</button>
        <button mat-menu-item>Domestic Tube Fittings</button>
        <button mat-menu-item>Flood Lights</button>
        <button mat-menu-item>Ballasts and Igniters</button>
        <button mat-menu-item>Decorative Lights</button>
        <button mat-menu-item>Lamps</button>
        <button mat-menu-item>Desk Lights</button>
        <button mat-menu-item>Street Lights</button>
      </mat-menu>
      
      <mat-menu #fans="matMenu">
        <button mat-menu-item>Ceiling Fans</button>
        <button mat-menu-item>Luxury Fans</button>
        <button mat-menu-item>Wall Fans</button>
        <button mat-menu-item>Table & Personal Fans</button>
        <button mat-menu-item>Exhaust Fans</button>
        <button mat-menu-item>Pedestal Fans</button>
        <button mat-menu-item>Tower Fans</button>
        <button mat-menu-item>BLDC Fans</button>
       
      </mat-menu>
      
      <mat-menu #cables="matMenu">
        <button mat-menu-item>House Wires</button>
        <button mat-menu-item>Flexible Wire</button>
        <button mat-menu-item>Multicore Cables & Wires</button>
        <button mat-menu-item>Coaxial Cables</button>
        <button mat-menu-item>Networking Cables & Accessories</button>
        <button mat-menu-item>Telephone Cables & Accessories</button>
        <button mat-menu-item>Camera Wires</button>
        <button mat-menu-item>Armoured Cables</button>
        <button mat-menu-item>Solar DC Wires</button>
        <button mat-menu-item>Shield Wires</button>
        <button mat-menu-item>Fiber Glass Cables</button>
      </mat-menu>
      
      <mat-menu #switch="matMenu">
        <button mat-menu-item>Modular Switches</button>
        <button mat-menu-item>Modular Sockets</button>
        <button mat-menu-item>Fan Regulators & Dimmers</button>
        <button mat-menu-item>RJ11, RJ545 & TV Sockets</button>
        <button mat-menu-item>Indicators & Buzzers</button>
        <button mat-menu-item>Plates & Boxes</button>
        <button mat-menu-item>USB,HDMI,RC, VGA Sockets</button>
        <button mat-menu-item>Modular Protection</button>
        <button mat-menu-item>Automation</button>
        <button mat-menu-item>For Hospitality</button>
        <button mat-menu-item>Popup Boxes</button>
        <button mat-menu-item>Flexible Power Outlets</button>
        <button mat-menu-item>Conventional</button>
      </mat-menu>
      
      <mat-menu #pd="matMenu">
        <button mat-menu-item>MCBs</button>
        <button mat-menu-item>ELCBs or RCCBs</button>
        <button mat-menu-item>RCBOs</button>
        <button mat-menu-item>MCCBs</button>
        <button mat-menu-item>Isolators</button>
        <button mat-menu-item>MCB Changeovers</button>
        <button mat-menu-item>USB,HDMI,RC, VGA Sockets</button>
        <button mat-menu-item>Distribution Boards</button>
      </mat-menu>
      
      <mat-menu #con="matMenu">
        <button mat-menu-item>Plug Tops & Multiplugs</button>
        <button mat-menu-item>Bulb Holders</button>
        <button mat-menu-item>Power Strips</button>
        <button mat-menu-item>Domestic Bells</button>
        <button mat-menu-item>Clips</button>
      </mat-menu>
      
      <mat-menu #app="matMenu">
        <button mat-menu-item>Room Heaters</button>
        <button mat-menu-item>Geysers</button>
        <button mat-menu-item>Cooking</button>
        <button mat-menu-item>Brewing</button>
        <button mat-menu-item>Irons</button>
        <button mat-menu-item>Food Preparation</button>
        <button mat-menu-item>Domestic Motors & Pumps</button>
        <button mat-menu-item>UPS,inverters & Stabilizers</button>
        <button mat-menu-item>Air Coolers</button>
        <button mat-menu-item>Chimney/Hoods</button>
        <button mat-menu-item>Purifiers</button>
        <button mat-menu-item>Security Cameras</button>
        
      </mat-menu>
      
      <mat-menu #gear="matMenu">
        <button mat-menu-item>Control Gears</button>
        <button mat-menu-item>Capacitors</button>
        <button mat-menu-item>Industrial Plugs and Sockets</button>
        <button mat-menu-item>Flexible Conduits</button>
      </mat-menu>
      
      <mat-menu #tools="matMenu">
        <button mat-menu-item>Electrician Tools</button>
        <button mat-menu-item>Electrical Hardware</button>
        <button mat-menu-item>Thimbles</button>
        <button mat-menu-item>Cable Glands</button>
        <button mat-menu-item>Earthing Accessories</button>
        <button mat-menu-item>Connectors</button>
        <button mat-menu-item>Conduits & Accessories</button>
        <button mat-menu-item>PVC Trunking</button>
      </mat-menu>
      
      <mat-menu #meters="matMenu">
        <button mat-menu-item>Energy Meters</button>
        <button mat-menu-item>Panel Meters</button>
        <button mat-menu-item>Meter Boxes</button>
        <button mat-menu-item>Clamp & Multi Meters</button>
        <button mat-menu-item>CT(Current transformers)</button>
      </mat-menu>
      
      <mat-menu #wd="matMenu">
        <button mat-menu-item>MCB Enclosures</button>
        <button mat-menu-item>Junction Boxes</button>
        <button mat-menu-item>Interlock Sockets</button>
        <button mat-menu-item>Lights (UV Resistant)</button>
        <button mat-menu-item>Waterproof Industrial Plug & Sockets</button>
        <button mat-menu-item>Waterproof Switches</button>
        <button mat-menu-item>PVC Couplers</button>
      </mat-menu>
      
      <mat-menu #ledlight="matMenu">
        <button mat-menu-item>LED Spotlight</button>
        <button mat-menu-item>LED Bulbs</button>
        <button mat-menu-item>LED Battens</button>
        <button mat-menu-item>LED Strips</button>
        <button mat-menu-item>LED Profile</button>
        <button mat-menu-item>LED Panels</button>
        <button mat-menu-item>LED Downlights</button>
        <button mat-menu-item>LED Surface Light</button>
        <button mat-menu-item>LED COB Downlights</button>
        <button mat-menu-item>LED Commercial Panels</button>
        <button mat-menu-item>LED GU10 & MR16</button>
        <button mat-menu-item>LED Drivers</button>
      
       
      </mat-menu>
      
      <mat-menu #ledlights="matMenu">
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
       
      </mat-menu>
      
      <mat-menu #ledlights="matMenu">
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
       
      </mat-menu>
      <mat-menu #ledlights="matMenu">
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
        <button mat-menu-item></button>
       
      </mat-menu>
      
      </div>
      </mat-toolbar>
    </mat-grid-list>
    
    <router-outlet>
     
    </router-outlet>
    <app-footer></app-footer> -->

    <mat-grid-list cols="3" rowHeight="100px" >
      <mat-toolbar style="background-color: rgb(31, 187, 207);height:100px">
      
        <mat-grid-tile><img src="../../assets/images/logo.png"></mat-grid-tile>
        <mat-grid-tile><input type="text" style="width:500px;height:30px" placeholder="Search for Products,brands and more">
          <span><button mat-button style="background-color:rgb(255, 94, 0)">
              <mat-icon style="height:25px;color:white">search</mat-icon>
            </button></span></mat-grid-tile>
        <mat-grid-tile>
          <button mat-button (click)="OpenDialog()"><mat-icon style="margin-top:5px;color:white">
              perm_identity
        </mat-icon>
            <div style="color:white">My account</div>
          </button>
          <button mat-button>
            <mat-icon style="margin-top:5px;color:white">favorite_border</mat-icon>
            <div style="color:white">Wishlist</div>
          </button>
          <button mat-button (click)="CartDialog()" routerLink="/cart"><mat-icon style="margin-top:5px;color:white">shopping_cart</mat-icon><br><p style="color:white">Rs.</p></button>
        </mat-grid-tile> 
      
      </mat-toolbar> 
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="70px">
    <mat-toolbar>
        <div style="width:100%;background-color:rgb(243, 236, 236);height:55px">
          <button mat-button id="categories" [matMenuTriggerFor]="categ" style="height:55px;margin-left:50px"><mat-icon>library_books</mat-icon> ALL CATEGORIES</button>
          <mat-menu #categ="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="led">LED & Lighting</button>
            <button mat-menu-item [matMenuTriggerFor]="fans">Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="cables">Cables & Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="switch">Switches & Automation</button>
            <button mat-menu-item [matMenuTriggerFor]="pd">Protection Devices</button>
            <button mat-menu-item [matMenuTriggerFor]="con">Consumables</button>
            <button mat-menu-item [matMenuTriggerFor]="app">Appliances</button>
            <button mat-menu-item [matMenuTriggerFor]="gear">Switchgears</button>
            <button mat-menu-item [matMenuTriggerFor]="tools">Tools & Elec Hardware</button>
            <button mat-menu-item [matMenuTriggerFor]="meters">Meters</button>
            <button mat-menu-item [matMenuTriggerFor]="wd">Weatherproof Devices</button> 
          
          
          </mat-menu>
          <mat-menu #led="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ledlight">LED lights</button>
            <button mat-menu-item [matMenuTriggerFor]="cfls">CFLs</button>
            <button mat-menu-item [matMenuTriggerFor]="dtf">Domestic Tube Fittings</button>
            <button mat-menu-item [matMenuTriggerFor]="floodlight">Flood Lights</button>
            <button mat-menu-item [matMenuTriggerFor]="bi">Ballasts and Igniters</button>
            <button mat-menu-item [matMenuTriggerFor]="dlight">Decorative Lights</button>
            <button mat-menu-item [matMenuTriggerFor]="lamp">Lamps</button>
            <button mat-menu-item [matMenuTriggerFor]="desklight">Desk Lights</button>
            <button mat-menu-item [matMenuTriggerFor]="streetlight">Street Lights</button>
          </mat-menu>
          
          <mat-menu #fans="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ceiling">Ceiling Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="luxury">Luxury Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="wallfan">Wall Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="tpf">Table & Personal Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="exhaustfan">Exhaust Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="pedestalfan">Pedestal Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="towerfan">Tower Fans</button>
            <button mat-menu-item [matMenuTriggerFor]="bldcfan">BLDC Fans</button>
           
          </mat-menu>
          
          <mat-menu #cables="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="housewires">House Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="flexiblewires">Flexible Wire</button>
            <button mat-menu-item [matMenuTriggerFor]="mcw">Multicore Cables & Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="coaxialcables">Coaxial Cables</button>
            <button mat-menu-item [matMenuTriggerFor]="nca">Networking Cables & Accessories</button>
            <button mat-menu-item [matMenuTriggerFor]="tca">Telephone Cables & Accessories</button>
            <button mat-menu-item [matMenuTriggerFor]="camerawires">Camera Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="armouredcables">Armoured Cables</button>
            <button mat-menu-item [matMenuTriggerFor]="sdcw">Solar DC Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="shieldwires">Shield Wires</button>
            <button mat-menu-item [matMenuTriggerFor]="fgc">Fiber Glass Cables</button>
          </mat-menu>
          
          <mat-menu #switch="matMenu">
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="modularswitches">Modular Switches</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="modularsockets">Modular Sockets</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="frd">Fan Regulators & Dimmers</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="rjsockets">RJ11, RJ545 & TV Sockets</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="indicators">Indicators & Buzzers</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="plates">Plates & Boxes</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="uhrvs">USB,HDMI,RC, VGA Sockets</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="modularprotection">Modular Protection</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="automation">Automation</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="hospitality">For Hospitality</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="popupboxes">Popup Boxes</button>
            <button mat-menu-item mat-menu-item [matMenuTriggerFor]="fpo">Flexible Power Outlets</button>
            <button mat-menu-item mat-menu-item>Conventional</button>
          </mat-menu>
          
          <mat-menu #pd="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="mcbs">MCBs</button>
            <button mat-menu-item [matMenuTriggerFor]="elcbs">ELCBs or RCCBs</button>
            <button mat-menu-item [matMenuTriggerFor]="rcbos">RCBOs</button>
            <button mat-menu-item [matMenuTriggerFor]="mccbs">MCCBs</button>
            <button mat-menu-item [matMenuTriggerFor]="isolators">Isolators</button>
            <button mat-menu-item [matMenuTriggerFor]="mcbchangeover">MCB Changeovers</button>
            <button mat-menu-item [matMenuTriggerFor]="distributionboard">Distribution Boards</button>
          </mat-menu>
          
          <mat-menu #con="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ptm">Plug Tops & Multiplugs</button>
            <button mat-menu-item [matMenuTriggerFor]="bulbholders">Bulb Holders</button>
            <button mat-menu-item [matMenuTriggerFor]="powerstrip">Power Strips</button>
            <button mat-menu-item [matMenuTriggerFor]="domesticbells">Domestic Bells</button>
            <button mat-menu-item [matMenuTriggerFor]="clips">Clips</button>
          </mat-menu>
          
          <mat-menu #app="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="room">Room Heaters</button>
            <button mat-menu-item [matMenuTriggerFor]="gey">Geysers</button>
            <button mat-menu-item [matMenuTriggerFor]="coo">Cooking</button>
            <button mat-menu-item [matMenuTriggerFor]="bre">Brewing</button>
            <button mat-menu-item [matMenuTriggerFor]="irons">Irons</button>
            <button mat-menu-item [matMenuTriggerFor]="food">Food Preparation</button>
            <button mat-menu-item [matMenuTriggerFor]="dom">Domestic Motors & Pumps</button>
            <button mat-menu-item [matMenuTriggerFor]="ups">UPS,inverters & Stabilizers</button>
            <button mat-menu-item [matMenuTriggerFor]="air">Air Coolers</button>
            <button mat-menu-item [matMenuTriggerFor]="chim">Chimney/Hoods</button>
            <button mat-menu-item [matMenuTriggerFor]="purifi">Purifiers</button>
            <button mat-menu-item [matMenuTriggerFor]="secu">Security Cameras</button>
            
          </mat-menu>
          
          <mat-menu #gear="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="con">Control Gears</button>
            <button mat-menu-item [matMenuTriggerFor]="cap">Capacitors</button>
            <button mat-menu-item [matMenuTriggerFor]="ind">Industrial Plugs and Sockets</button>
            <button mat-menu-item [matMenuTriggerFor]="flex">Flexible Conduits</button>
          </mat-menu>
          
          <mat-menu #tools="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="tool">Electrician Tools</button>
            <button mat-menu-item [matMenuTriggerFor]="har">Electrical Hardware</button>
            <button mat-menu-item [matMenuTriggerFor]="thim">Thimbles</button>
            <button mat-menu-item [matMenuTriggerFor]="gland">Cable Glands</button>
            <button mat-menu-item [matMenuTriggerFor]="access">Earthing Accessories</button>
            <button mat-menu-item [matMenuTriggerFor]="conne">Connectors</button>
            <button mat-menu-item [matMenuTriggerFor]="cond">Conduits & Accessories</button>
            <button mat-menu-item [matMenuTriggerFor]="pvc">PVC Trunking</button>
          </mat-menu>
          
          <mat-menu #meters="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="energymeter">Energy Meters</button>
            <button mat-menu-item [matMenuTriggerFor]="panelmeter">Panel Meters</button>
            <button mat-menu-item [matMenuTriggerFor]="meterboxes">Meter Boxes</button>
            <button mat-menu-item [matMenuTriggerFor]="cmm">Clamp & Multi Meters</button>
            <button mat-menu-item [matMenuTriggerFor]="ct">CT(Current transformers)</button>
          </mat-menu>
          
          <mat-menu #wd="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="mcbe">MCB Enclosures</button>
            <button mat-menu-item [matMenuTriggerFor]="jb">Junction Boxes</button>
            <button mat-menu-item [matMenuTriggerFor]="is">Interlock Sockets</button>
            <button mat-menu-item [matMenuTriggerFor]="lights">Lights (UV Resistant)</button>
            <button mat-menu-item [matMenuTriggerFor]="wips">Waterproof Industrial Plug & Sockets</button>
            <button mat-menu-item [matMenuTriggerFor]="ws">Waterproof Switches</button>
            <button mat-menu-item [matMenuTriggerFor]="pvcc">PVC Couplers</button>
          </mat-menu>
          
          <mat-menu #ledlight="matMenu">
            <button mat-menu-item>LED Spotlight</button>
            <button mat-menu-item>LED Bulbs</button>
            <button mat-menu-item>LED Battens</button>
            <button mat-menu-item>LED Strips</button>
            <button mat-menu-item>LED Profile</button>
            <button mat-menu-item>LED Panels</button>
            <button mat-menu-item>LED Downlights</button>
            <button mat-menu-item>LED Surface Light</button>
            <button mat-menu-item>LED COB Downlights</button>
            <button mat-menu-item>LED Commercial Panels</button>
            <button mat-menu-item>LED GU10 & MR16</button>
            <button mat-menu-item>LED Drivers</button>
          
           
          </mat-menu>
          
          <mat-menu #cfls="matMenu">
            <button mat-menu-item>PL LEDs</button>
            <button mat-menu-item>Domestic 5W-23W</button>
            <button mat-menu-item>Commericial 25W-85W</button>
            <button mat-menu-item>PLC, PLL & PLS CFLs</button> 
          </mat-menu>
          
          <mat-menu #dtf="matMenu">
            <button mat-menu-item>Tubelights</button>
            <button mat-menu-item>T-8 Fitting 4 Feet</button>
            <button mat-menu-item>T-5 Fitting 4 Feet</button>
            <button mat-menu-item>T-5 Fitting 2 Feet</button>
          </mat-menu>
    
          <mat-menu #floodlight="matMenu">
            <button mat-menu-item>Conventional</button>
            <button mat-menu-item>LED Flood Light</button>
          </mat-menu>
          <mat-menu #bi="matMenu">
            <button mat-menu-item>Electronic Ballastic</button>
            <button mat-menu-item>Transformers</button>
            <button mat-menu-item>Ignitors</button>
            <button mat-menu-item>HID Ballast</button>
            <button mat-menu-item>Electromagnetic Ballasts</button>
            <button mat-menu-item>Copper Ballast</button>
          </mat-menu>
          <mat-menu #dlight="matMenu">
            <button mat-menu-item>Chandeliers</button>
            <button mat-menu-item>Wall Lights</button>
          </mat-menu>
          <mat-menu #lamp="matMenu">
            <button mat-menu-item>Candle Lamps</button>
            <button mat-menu-item>Classic Lamps</button>
            <button mat-menu-item>Metal Halide Lamps</button>
            <button mat-menu-item>Halogen Lamps</button>
            <button mat-menu-item>HID Lamps (MH,CDMT,SON)</button>
          </mat-menu>
          <mat-menu #desklight="matMenu">
            <button mat-menu-item>LED Desk Lights</button>
            <button mat-menu-item>CFL Desk Lights</button>
          </mat-menu>
          <mat-menu #streetlight="matMenu">
            <button mat-menu-item>LED Street Lights</button>
          </mat-menu>
          <mat-menu #ceiling="matMenu">
            <button mat-menu-item>Standard Ceiling Fans</button>
            <button mat-menu-item>Decorative Ceiling Fans</button>
            <button mat-menu-item>Underlight Ceiling Fans</button>
            <button mat-menu-item>Kids Ceiling Fans</button>
            <button mat-menu-item>Energy Saving</button>
          </mat-menu>
    
          <mat-menu #luxury="matMenu">
            <button mat-menu-item>Havells</button>
            <button mat-menu-item>Usha Hunter</button>
            <button mat-menu-item>Crompton</button>
            <button mat-menu-item>Windmill</button>
          </mat-menu>
    
          <mat-menu #wallfan="matMenu">
            <button mat-menu-item>Domestic Wall Fans</button>
            <button mat-menu-item>Industrial Wall Fans</button>
          </mat-menu>
    
          <mat-menu #tpf="matMenu">
            <button mat-menu-item>Table Fans</button>
            <button mat-menu-item>Personal Fans</button>
          </mat-menu>
    
          <mat-menu #exhaustfan="matMenu">
            <button mat-menu-item>Metal Body Exhaust Fans</button>
            <button mat-menu-item>Plastic Body Exhaust Fans</button>
          </mat-menu>
    
          <mat-menu #pedestalfan="matMenu">
            <button mat-menu-item>Domestic Pedestal Fans</button>
            <button mat-menu-item>Industial Pedestal Fans</button>
          </mat-menu>
    
          <mat-menu #towerfan="matMenu">
            <button mat-menu-item>Tower Fan</button>
          </mat-menu>
    
          <mat-menu #bldcfan="matMenu">
            <button mat-menu-item>BLDC Ceiling Fan</button>
            <button mat-menu-item>BLDC Wall Fan</button>
            <button mat-menu-item>BLDC Pedestal Fan</button>
          </mat-menu>
    
          <mat-menu #housewires="matMenu">
            <button mat-menu-item>FR (Fire Retardant)</button>
            <button mat-menu-item>FRLS (Fire Retardant Low Smoke)</button>
            <button mat-menu-item>ZHFR ( Zero Halogen Fire Retardant)</button>
          </mat-menu>
    
          <mat-menu #flexiblewires="matMenu">
            <button mat-menu-item>Single Core (10,16,25 Sqmm)</button>
          </mat-menu>
    
          <mat-menu #mcw="matMenu">
            <button mat-menu-item>2,3,4 & 6 Core Cables</button>
            <button mat-menu-item>Speaker Wires</button>
            <button mat-menu-item>Twin Twisted Wires</button>
            <button mat-menu-item>Submersible Cables</button>
          </mat-menu>
    
          <mat-menu #coaxialcables="matMenu">
            <button mat-menu-item>RG6</button>
            <button mat-menu-item>RG11</button>
            <button mat-menu-item>RG59</button>
          </mat-menu>
    
          <mat-menu #nca="matMenu">
            <button mat-menu-item>CAT-6 Cables</button>
            <button mat-menu-item>CAT-5 Cables</button>
            <button mat-menu-item>I/Os & Connectors</button>
            <button mat-menu-item>Face Plate</button>
            <button mat-menu-item>HDMI & VGA Cables</button>
            <button mat-menu-item>Patch Chord & Patch Panel</button>
            <button mat-menu-item>Router & Modems</button>
            <button mat-menu-item>Smart Switches</button>
            <button mat-menu-item>Smart Poe Switches</button>
            <button mat-menu-item>Un-Managed PoE Switches</button>
            <button mat-menu-item>High Power Poe Switches</button>
            <button mat-menu-item>SFP Transcievers</button>
          </mat-menu>
    
          <mat-menu #tca="matMenu">
            <button mat-menu-item>Telephone Boxes & Blocks</button>
            <button mat-menu-item>Crimping Tools</button>
            <button mat-menu-item>PVC Unarm. Tel. Wire</button>
            <button mat-menu-item>PVC Arm. Tel. Wire</button>
            <button mat-menu-item>Jelly Filled Unarm. Tel. Wire</button>
          </mat-menu>
    
          <mat-menu #camerawires="matMenu">
            <button mat-menu-item>3+1 Camera Wires</button>
            <button mat-menu-item>4+1 Camera Wires</button>
            <button mat-menu-item>6+1 Camera Wires</button>
            <button mat-menu-item>8 Core Security Code </button>
          </mat-menu>
    
          <mat-menu #armouredcables="matMenu">
            <button mat-menu-item>Copper Power Cables</button>
            <button mat-menu-item>Aluminium Power Cables</button>
            <button mat-menu-item>Copper Control Cables</button>
          </mat-menu>
    
          <mat-menu #sdcw="matMenu">
            <button mat-menu-item>Solar DC Wires</button>
          </mat-menu>
    
          <mat-menu #shieldwires="matMenu">
            <button mat-menu-item>2 Core Shield Wires</button>
            <button mat-menu-item>3 Core Shield Wires</button>
            <button mat-menu-item>4 Core Shield Wires</button>
          </mat-menu>
    
          <mat-menu #fgc="matMenu">
            <button mat-menu-item>Fiber Glass Cables</button>
          </mat-menu>
    
          <mat-menu #modularswitches="matMenu">
            <button mat-menu-item>6A Switches</button>
            <button mat-menu-item>10A Switches</button>
            <button mat-menu-item>16A Switches</button>
            <button mat-menu-item>20A Switches</button>
            <button mat-menu-item>25A Switches</button>
            <button mat-menu-item>32A Switches</button>
            <button mat-menu-item>Blank Plates</button>
          </mat-menu>
    
          <mat-menu #modularsockets="matMenu">
            <button mat-menu-item>6A Sockets</button>
            <button mat-menu-item>13A Sockets</button>
            <button mat-menu-item>16A Sockets</button>
            <button mat-menu-item>25A Sockets</button>
            <button mat-menu-item>32A Sockets</button>
          </mat-menu>
    
          <mat-menu #frd="matMenu">
            <button mat-menu-item>Dimmers</button>
            <button mat-menu-item>Fan Regulators</button>
          </mat-menu>
    
          <mat-menu #rjsockets="matMenu">
            <button mat-menu-item>RJ11 Sockets</button>
            <button mat-menu-item>RJ11 Sockets</button>
            <button mat-menu-item>RJ45 Sockets</button>
            <button mat-menu-item>TV Sockets</button>
            <button mat-menu-item>Motor Starters</button>
          </mat-menu>
    
          <mat-menu #indicators="matMenu">
            <button mat-menu-item>Buzzers</button>
            <button mat-menu-item>Indicators</button>
          </mat-menu>
    
          <mat-menu #plates="matMenu">
            <button mat-menu-item>1 Module Plate</button>
            <button mat-menu-item>2 Module Plate</button>
            <button mat-menu-item>3 Module Plate</button>
            <button mat-menu-item>4 Module Plate</button>
            <button mat-menu-item>5 Module Plate</button>
            <button mat-menu-item>6 Module Plate</button>
            <button mat-menu-item>7 Module Plate</button>
            <button mat-menu-item>8 Module Plate</button>
            <button mat-menu-item>9 Module Plate</button>
            <button mat-menu-item>10 Module Plate</button>
            <button mat-menu-item>12 Module Plate</button>
            <button mat-menu-item>16 Module Plate</button>
            <button mat-menu-item>18 Module Plate</button>
            <button mat-menu-item>Surface Box</button>
          </mat-menu>
    
          <mat-menu #uhrvs="matMenu">
            <button mat-menu-item>USB Sockets</button>
            <button mat-menu-item>Computer Sockets</button>
            <button mat-menu-item> HDMI Sockets</button>
          </mat-menu>
    
          <mat-menu #modularprotection="matMenu">
            <button mat-menu-item>Mini MCBs</button>
            <button mat-menu-item>Motor Starters</button>
            <button mat-menu-item>Mini RCBOs</button>
          </mat-menu>
    
          <mat-menu #automation="matMenu">
            <button mat-menu-item>Timer Switches</button>
            <button mat-menu-item>Remote Switches</button>
            <button mat-menu-item>Sensors</button>
            <button mat-menu-item>Detectors</button>
            <button mat-menu-item>Smart Home</button>
            <button mat-menu-item>Power Tracks</button>
            <button mat-menu-item>Accessories</button>
            <button mat-menu-item>Adaptors</button>
          </mat-menu>
    
          <mat-menu #hospitality="matMenu">
            <button mat-menu-item>Keycard Switches</button>
            <button mat-menu-item>Latching Relays</button>
            <button mat-menu-item>Shaver Sockets</button>
            <button mat-menu-item>DND & MMR</button>
            <button mat-menu-item>Key Tags</button>
            <button mat-menu-item>Shaver Socket Plates</button>
          </mat-menu>
    
          <mat-menu #popupboxes="matMenu">
            <button mat-menu-item>Popup Surface Boxes</button>
            <button mat-menu-item>Popup Boxes</button>
          </mat-menu>
    
          <mat-menu #fpo="matMenu">
            <button mat-menu-item>Adaptor</button>
            <button mat-menu-item>Accessories</button>
            <button mat-menu-item>Power Tracks</button>
          </mat-menu>
    
          <mat-menu #mcbs="matMenu">
            <button mat-menu-item>Single Pole MCBs</button>
            <button mat-menu-item>Double Pole MCBs</button>
            <button mat-menu-item>Three Pole MCBs</button>
            <button mat-menu-item>Four Pole MCBs</button>
            <button mat-menu-item>MCB Bus Bar & DIN Rail</button>
          </mat-menu>
    
          <mat-menu #elcbs="matMenu">
            <button mat-menu-item>Double Pole RCCBs </button>
            <button mat-menu-item>Four Pole RCCBs</button>
          </mat-menu>
    
          <mat-menu #rcbos="matMenu">
            <button mat-menu-item>Double Pole RCBOs</button>
            <button mat-menu-item>Four Pole RCBOs</button>
          </mat-menu>
    
          <mat-menu #mccbs="matMenu">
            <button mat-menu-item>Three Pole MCCBs</button>
            <button mat-menu-item>Four Pole MCCBs</button>
            <button mat-menu-item>Rotary Handle</button>
          </mat-menu>
    
          <mat-menu #isolators="matMenu">
            <button mat-menu-item>Double Pole Isolators</button>
            <button mat-menu-item>Four Pole Isolators</button>
          </mat-menu>
    
          <mat-menu #mcbchangeover="matMenu">
            <button mat-menu-item>Double Pole Changeovers</button>
            <button mat-menu-item>Four Pole Changeovers</button>
          </mat-menu>
    
          <mat-menu #distributionboard="matMenu">
            <button mat-menu-item>SPN DBs</button>
            <button mat-menu-item>TPN DBs</button>
            <button mat-menu-item>VTPN DBs</button>
            <button mat-menu-item>VTPN DBs (With MCCB Incomer)</button>
            <button mat-menu-item>Flexy DBs</button>
            <button mat-menu-item>PPI DBs</button>
            <button mat-menu-item>AC,DP & FP MCB Boxes</button>
            <button mat-menu-item>MCCB Enclosures</button>
            <button mat-menu-item>Cable End Box</button>
          </mat-menu>
    
          <mat-menu #ptm="matMenu">
            <button mat-menu-item>Plug Tops</button>
            <button mat-menu-item>Multiplugs</button>
            <button mat-menu-item>Adaptors</button>
            <button mat-menu-item>Converting Plugs</button>
          </mat-menu>
    
          <mat-menu #bulbholders="matMenu">
            <button mat-menu-item>Pendant Holders</button>
            <button mat-menu-item>Angle Holders</button>
            <button mat-menu-item>Battern Holder</button>
            <button mat-menu-item>Ceiling Rose</button>
            <button mat-menu-item>Converting Holders</button>
            <button mat-menu-item>Halogen & HD Lamps Holders</button>
            <button mat-menu-item>CFL Holders</button>
            <button mat-menu-item>Tube Light Holders</button>
          </mat-menu>
    
          <mat-menu #powerstrip="matMenu">
            <button mat-menu-item>3+1 Power Strip</button>
            <button mat-menu-item>4+1 Power Strip</button>
            <button mat-menu-item>4+4 Power Strip</button>
            <button mat-menu-item>6+1 Power Strip</button>
            <button mat-menu-item>8+1 Power Strip</button>
          </mat-menu>
    
          <mat-menu #domesticbells="matMenu">
            <button mat-menu-item>Ding Dong Bells</button>
            <button mat-menu-item>Wireless Bells</button>
          </mat-menu>
    
          <mat-menu #clips="matMenu">
            <button mat-menu-item>PVC Clips</button>
          </mat-menu>
    
          <mat-menu #room="matMenu">
            <button mat-menu-item>Heat Convector</button>
            <button mat-menu-item>Oil Filled Radiators(OFR)</button>
            <button mat-menu-item>Fan Heater</button>
            <button mat-menu-item>Halogen Heater</button>
            <button mat-menu-item>PTC HEATER</button>
            <button mat-menu-item>Tower Heater</button>
            <button mat-menu-item>Ceramic Rod Heater</button>
            <button mat-menu-item>Carbon Heater</button>
            <button mat-menu-item>Wall Mount</button>
          </mat-menu>
    
          <mat-menu #gey="matMenu">
            <button mat-menu-item>Storage Geysers</button>
            <button mat-menu-item>Instant Geysers</button> 
          </mat-menu>
    
          <mat-menu #coo="matMenu">
            <button mat-menu-item>Sandwich Maker</button>
            <button mat-menu-item>Induction Cooktops</button>
            <button mat-menu-item>Microwave Ovens</button>
            <button mat-menu-item>Pop Up Toasters</button>
            <button mat-menu-item>Dough Maker</button>
            <button mat-menu-item>Cooktops</button>  
            <button mat-menu-item>Hobs</button>
            <button mat-menu-item>Ovens</button>
          </mat-menu>
    
          <mat-menu #bre="matMenu">
            <button mat-menu-item>Coffee Maker</button>
            <button mat-menu-item>Electric Kettles</button>    
          </mat-menu>
    
          <mat-menu #irons="matMenu">
            <button mat-menu-item>Dry Irons</button>
            <button mat-menu-item>Steam Irons</button>
            
          </mat-menu>
          <mat-menu #food="matMenu">
            <button mat-menu-item>Hand Blenders</button>
            <button mat-menu-item>Mixer Grinders</button>
            <button mat-menu-item>Juicer Mixer Grinders</button>
           
          </mat-menu>
    
          <mat-menu #dom="matMenu">
            <button mat-menu-item>0.5 HP</button>
            <button mat-menu-item>1 HP</button>
            <button mat-menu-item>Pump Control Panels</button>
            
          </mat-menu>
    
          <mat-menu #ups="matMenu">
            <button mat-menu-item>Stabilizers</button>
           
          </mat-menu>
    
          <mat-menu #air="matMenu">
            <button mat-menu-item>Personal</button>
            <button mat-menu-item>Desert </button>
            <button mat-menu-item>Desert Sleek</button>
            
          </mat-menu>
    
          <mat-menu #chim="matMenu">
            <button mat-menu-item>Island Hoods</button>
            <button mat-menu-item>Designer Hoods</button>
            <button mat-menu-item>Decorative Hoods</button>
            <button mat-menu-item>Auto Clean Hoods</button>
            <button mat-menu-item>Straightline Hood</button>
          </mat-menu>
    
          <mat-menu #purifi="matMenu">
            <button mat-menu-item>Water Purifiers</button>
            
          </mat-menu>
          <mat-menu #secu="matMenu">
            <button mat-menu-item>Dome Cameras</button>
            <button mat-menu-item>Bullet Cameras</button>
            <button mat-menu-item>Digital Video Recorders</button>
            <button mat-menu-item>DVR Enclosures</button>
            
          </mat-menu>
    
          <mat-menu #con="matMenu">
            <button mat-menu-item>Changeover Switches</button>
            <button mat-menu-item>Contactors</button>
            <button mat-menu-item>Relays</button>
            <button mat-menu-item>HRC Fuses</button>
            <button mat-menu-item>Glass Fuses</button>
          </mat-menu>
    
          <mat-menu #cap="matMenu">
            <button mat-menu-item>Light Capacitors</button>
            <button mat-menu-item>Power Capacitors</button>
            
          </mat-menu>
    
          <mat-menu #ind="matMenu">
            <button mat-menu-item>Single Phase</button>
            <button mat-menu-item>Three Phase</button>
            
          </mat-menu>
    
          <mat-menu #flex="matMenu">
            <button mat-menu-item>PVC Flexible</button>
            <button mat-menu-item>GI Flexible Conduits</button>
            
          </mat-menu>
    
          <mat-menu #tool="matMenu">
            <button mat-menu-item>Spanners</button>
            <button mat-menu-item>Pilers</button>
            <button mat-menu-item>Screw Drivers</button>
            <button mat-menu-item>Testers</button>
            <button mat-menu-item>Tool Kits</button>
            <button mat-menu-item>Wrench</button>
            <button mat-menu-item>Hammers</button>
            <button mat-menu-item>Air Blowers</button>
            <button mat-menu-item>Drill Machine</button>
           
          </mat-menu>
    
          <mat-menu #har="matMenu">
            <button mat-menu-item>Insulation Tapes</button>
            <button mat-menu-item>Nut Bolts</button>
            <button mat-menu-item>Brass Cup Washers</button>
            <button mat-menu-item>Fastners</button>
            <button mat-menu-item>PVC Gitti</button>
            <button mat-menu-item>Screws</button>
            <button mat-menu-item>Cable Ties</button>
            <button mat-menu-item>Ferrule</button>
            <button mat-menu-item>Blades</button>
            <button mat-menu-item>Drill Bits</button>
            <button mat-menu-item>PVC Clips</button>
            <button mat-menu-item>Fan Down Recorders</button>
            <button mat-menu-item>Wire Nuts</button>
            
            <button mat-menu-item>Quartz Room Header</button>
          </mat-menu> 
          <mat-menu #thim="matMenu">
            <button mat-menu-item>Bottle Type</button>
            <button mat-menu-item>Pin Type</button>
            <button mat-menu-item>Hole/Ring Type</button>
            
          </mat-menu>
    
          <mat-menu #gland="matMenu">
            <button mat-menu-item>PG Glands</button>
            <button mat-menu-item>Single Compression</button>
            <button mat-menu-item>Double Compression</button>
            
          </mat-menu> 
          <mat-menu #access="matMenu">
            <button mat-menu-item>Earthing Strips</button>
            <button mat-menu-item>Earthing Plates</button>
            <button mat-menu-item>Earthing Wires</button>
            
          </mat-menu>
    
          <mat-menu #conne="matMenu">
            <button mat-menu-item>Bakelite Connectors</button>
            <button mat-menu-item>PVC Connectors</button>
            <button mat-menu-item>Terminal Blocks</button>
            
          </mat-menu> 
          <mat-menu #cond="matMenu">
            <button mat-menu-item>PVC Flexible Conduits</button>
            <button mat-menu-item>GI Flexible Conduits</button>
            <button mat-menu-item>Nut Bolts</button>
            <button mat-menu-item>Wooden Screws</button>
            <button mat-menu-item>PVC Gitti</button>
            <button mat-menu-item>PVC Conduits & Acc</button>
            <button mat-menu-item>GI Conduits & Acc</button>
            <button mat-menu-item>MS Conduits & Acc</button>
            
          </mat-menu>
          <mat-menu #pvc="matMenu">
            <button mat-menu-item>Trunking</button>
            <button mat-menu-item>Accessories</button>  
          </mat-menu>
    
          <mat-menu #energymeter="matMenu">
            <button mat-menu-item>1 Phase Meter</button>
            <button mat-menu-item>3 Phase Meter</button>
            <button mat-menu-item>HT Meter</button>
            <button mat-menu-item>LT/CT Meter</button>
            <button mat-menu-item>Micro Generation Metering(Solar and Windmill)</button>
          </mat-menu>
    
          <mat-menu #panelmeter="matMenu">
            <button mat-menu-item>Elite 440</button>
          </mat-menu>
    
          <mat-menu #meterboxes="matMenu">
            <button mat-menu-item>1 Phase Boxes</button>
            <button mat-menu-item>3 Phase Boxes</button>
          </mat-menu>
    
          <mat-menu #cmm="matMenu">
            <button mat-menu-item>Digital Clampmeters</button>
            <button mat-menu-item>Multi Meters</button>>
          </mat-menu>
    
          <mat-menu #ct="matMenu">
            <button mat-menu-item>Tape Wound</button>
            <button mat-menu-item>Resin Cast</button>
          </mat-menu>
    
          <mat-menu #mcbe="matMenu">
            <button mat-menu-item>IP55</button>
            <button mat-menu-item>IP65</button>
          </mat-menu>
    
          <mat-menu #jb="matMenu">
            <button mat-menu-item>With Smooth Walls</button>
            <button mat-menu-item>With Glands</button>
            <button mat-menu-item>With Connectors</button>
            <button mat-menu-item>Terminal Blocks</button>
          </mat-menu>
    
          <mat-menu #is="matMenu">
            <button mat-menu-item>32A Interlock Sockets</button>
            <button mat-menu-item>16A Interlock Sockets  </button>
          </mat-menu>
    
          <mat-menu #lights="matMenu">
            <button mat-menu-item>BulkHead Light</button>
            <button mat-menu-item>Hobby Light</button>
          </mat-menu>
    
          <mat-menu #wips="matMenu">
            <button mat-menu-item>Single Phase</button>
            <button mat-menu-item>Three Phase</button>
          </mat-menu>
    
          <mat-menu #ws="matMenu">
            <button mat-menu-item>Sockets</button>
            <button mat-menu-item>Switches</button>
            <button mat-menu-item>Fan Regulator & Bell Push</button>
            <button mat-menu-item>Plate & Boxes</button>
            <button mat-menu-item>Blank Plate</button>
          </mat-menu>
          <mat-menu #pvcc="matMenu">
            <button mat-menu-item>Couples</button>
          </mat-menu>
          </div>
          </mat-toolbar>
        </mat-grid-list>
        
        <router-outlet>
         
        </router-outlet>
        <app-footer></app-footer> -->
        