<mat-grid-list cols="6"  rowHeight="700px">
    
    <div style="text-align: center;margin-top: 30px;">
       <button mat-button  ><img style="width:140px;height:90px" src="../../assets/images/abb.jpeg" matTooltip="ABB" ></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/action.jpeg"  matTooltip="Action"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/AE.jpeg" matTooltip="AE"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/akg.jpeg" matTooltip="AKG"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/almonard.jpeg" matTooltip="Almonard"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/amp.jpeg" matTooltip="AMP"></button> 
   </div>


   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/anchor.jpeg" matTooltip="Anchor"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/angel.jpeg" matTooltip="Angel"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/ao-smith.jpeg" matTooltip="AO-Smith"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/atlantic.jpeg" matTooltip="Atlantic"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/gorilla.jpeg" matTooltip="Gorilla"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/bajaj.jpeg" matTooltip="Bajaj"></button> 
   </div>


   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/bec.jpeg" matTooltip="BEC"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/belden.jpeg" matTooltip="Belden"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/image/blackdecker.jpeg" matTooltip="Blackdecker"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/bluebird.jpeg" matTooltip="BlueBird"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/bpl.jpeg" matTooltip="BPL"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/bull.jpeg" matTooltip="Bull"></button> 
   </div>


   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/c&s.jpeg" matTooltip="C&S"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/comet.jpeg" matTooltip="Comet"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/commscope.jpeg" matTooltip="Commonscope"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/compact.jpeg" matTooltip="Compact"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/cona.jpeg" matTooltip="Cona"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/corvi.jpeg" matTooltip="Corvi"></button> 
   </div>

   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/crabtree.jpeg" matTooltip="Crabtree"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/crompton.jpeg" matTooltip="Crompton"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/cubic.jpeg" matTooltip="Cubic"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/delton.jpeg" matTooltip="Delton"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/dlink.jpeg" matTooltip="D-Link"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/dowells.jpeg" matTooltip="Dowells"></button> 
   </div>

   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/empire.jpeg" matTooltip="Empire"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/epcos.jpeg" matTooltip="Epcos"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/eubiq.jpeg" matTooltip="Eubic"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/finolex.jpeg" matTooltip="Finolex"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/gewiss.jpeg" matTooltip="Gewiss"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/gm.jpeg" matTooltip="GM"></button> 
   </div>


   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/hager.jpeg" matTooltip="Hager"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/havells.jpeg" matTooltip="Havells"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/hensel.jpeg" matTooltip="Hensel"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/hindware.jpeg" matTooltip="Hindware"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/hitachi.jpeg" matTooltip="Hitachi"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/hpl.jpeg" matTooltip="HPL"></button> 
   </div>



   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/indiabulls.jpeg" matTooltip="Induabulls"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/jaquar.jpeg" matTooltip="Jaquar"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/kalinga.jpeg" matTooltip="Kalinga"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/kei.jpeg" matTooltip="Kei"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/khaitan.jpeg" matTooltip="Khaitan"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/krone.jpeg" matTooltip="Krone"></button> 
   </div>



   <div style="text-align: center;margin-top: 30px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/lt.jpeg" matTooltip="LT"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/legero.jpeg" matTooltip="Legero"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/legrand.jpeg" matTooltip="Legrand"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/lg.jpeg" matTooltip="LG"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/mci.jpeg" matTooltip="MCI"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/meco.jpeg" matTooltip="Meco"></button> 
   </div>

   <div style="text-align: center;margin-top: 30px;margin-bottom: 50px;">
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/mennekes.jpeg" matTooltip="Mennekes"></button>
       <button mat-button><img style="width:140px;height:90px" src="../../assets/images/mie.jpeg" matTooltip="Mie"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/minilec.jpeg" matTooltip="Minilec"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/mk.jpeg" matTooltip="MK"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/molex.jpeg" matTooltip="Molex"></button> 
       <button mat-button> <img style="width:140px;height:90px" src="../../assets/images/moonbow.jpeg" matTooltip="Moonbow"></button> 
   </div>




<mat-grid-list>
